<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/admin/addUser}" th:object="${user}" th:method="post">
    <p> country  <input          type="text" th:field="*{country}">   </p>
    <p> city     <input          type="text" th:field="*{city}">      </p>
    <p> street   <input          type="text" th:field="*{street}">    </p><br>
    <p> username <input required type="text" th:field="*{username}">  </p>
    <p> password <input required type="text" th:field="*{password}">  </p>

    <p>

        <label>admin:
            <input required type="radio" name="roleInput" value="ROLE_ADMIN">
        </label><br>
        <label>user:
            <input required type="radio" name="roleInput"  value="ROLE_USER">
        </label><br>
    </p>

    <p>Submit  <input type="submit" value="GO"></p>

    <a th:href="@{/admin/show}">Back</a>
    <a th:href="@{/logout}">Logout</a>
</form>





</body>
</html>