<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">-->
<!--        <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>-->
<!--        <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>-->
<!--    </svg>-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>-->
<!--    -->

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->

<!--    <title>Title</title>-->

<!--    style="background-color:yellow"-->

</head>
<body>
<!--th:each="user : ${allUsers}"-->
<!--<div >-->
<!--    <nav class="navbar navbar-light bg-secondary" >-->
<!--        <div class="container-fluid" >-->
<!--            <p class="navbar-brand" th:text="'user: ' + ${uk}" >Navbar</p>-->
<!--            <p class="navbar-brand" th:text="'with roles: ' + ${ur}">Navbar</p>-->
<!--            <a class="nav-link" th:href="@{/logout}" style="color: #e3f2fd">LOGOUT</a>-->
<!--        </div>-->

<!--    </nav>-->
<!--</div>-->



                        <!--Навигация по ролям-->
<div class="container-fluid"  >
    <div class="row" >
        <div class="col-3" >
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <li >
                    <a class="nav-link active"    id="v-pills-home-tab"    data-toggle="pill" href="#v-pills-home"    role="tab" aria-controls="v-pills-home"    aria-selected="true">Admin</a>
                </li>
                <li >
                    <a class="nav-link"           id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                </li>
            </ul>
        </div>



                <!--НАвигация по функционалу-->
        <div class="tab-content"   >

<!--        Первый экран-->
            <div class="tab-pane active" id="v-pills-home">

<!--                кнопки первого экрана-->

                    <h4 > <b> ADMIN PANEL</b></h4><br>
                    <ul class="nav nav-tabs"  >
                        <li >
                            <a class="nav-link active"  href="#Active" data-toggle="tab"   >User table</a>
                        </li>
                        <li>
                            <a class="nav-link"         href="#Add"    data-toggle="tab"  >Add New User</a>
                        </li>
                    </ul>

<!--                                    Содержимое первого экрана-->
                                   <div class="tab-content"  >
                                        <div class="tab-pane active" id="Active"  >
                                            <table>
                                                <thead class="table-hover" >
                                                    <tr>
                                                        <th>id</th>
                                                        <th>country</th>
                                                        <th>city</th>
                                                        <th>street</th>
                                                        <th>username</th>
                                                        <th hidden>password</th>
                                                        <!--        <th>edit/delete</th>-->
                                                        <th>edit</th>
                                                        <th >delete</th>
                                                        <th>role1</th>
                                                        <th>role2</th>

                                                        <!--        <th>role2</th>-->

                                                    </tr>
                                                    </thead>


                                                    <tbody>
                                                    <tr th:each="user : ${allUsers}">
                                                        <td th:text="${user.id}"> </td>
                                                        <td th:text="${user.country}"> </td>
                                                        <td th:text="${user.city}"> </td>
                                                        <td th:text="${user.street}"> </td>
                                                        <td th:text="${user.username}"> </td>
                                                        <td th:text="${user.password}" hidden>  </td>

                                                        <!--        <td>-->
                                                        <!--            <a th:href="@{'/admin/edit/' + ${user.id}}">edit</a>-->
                                                        <!--            <a th:href="@{'/admin/delete/' + ${user.id}}">delete</a>-->
                                                        <!--        </td>-->



                                                        <!--        data-target="#editModal"-->
                                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#editModal' + ${user.id}"  >Edit</button></td>
                                                        <td><button type="button" class="btn btn-danger"  data-toggle="modal" th:attr="data-target='#deleteModal' + ${user.id}"  >Delete</button></td>


                                                        <td
                                                                th:each="role : ${user.getRoles()}" th:text="${role.getRole()}" > Roles
                                                        </td>

                                                        <!--        <td><a th:href="@{/admin/edit/(id=${user.id})}"   class="btn btn-warning"  >Edit</a></td>-->
                                                    </tr>
                                                <tbody>
                                            </table>
                                        </div>


                                        <!--............... ADD .....................................-->

                                        <div  class="tab-pane" id="Add">
<!--                                            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
                                                <form th:action="@{/admin/addUser}" th:object="${user}" th:method="post">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">


                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label for="country-name" class="col-form-label">Country:</label>
                                                                    <input type="text" class="form-control" id="country-name" name="country">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="city-name" class="col-form-label">City:</label>
                                                                    <input type="text" class="form-control" id="city-name" name="city">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="street-name" class="col-form-label">Street:</label>
                                                                    <input type="text" class="form-control" id="street-name" name="street">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="user-name" class="col-form-label">Username:</label>
                                                                    <input type="text" class="form-control" id="user-name" name="username">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="pass-name" class="col-form-label">Password:</label>
                                                                    <input type="text" class="form-control" id="pass-name" name="password">
                                                                </div>



                                                                <div class="form-group">
                                                                    <!--                            <label for="role-role" class="col-form-label" >Role:</label>-->

                                                                    <!--                            <input required type="radio" class="form-control" id="pass-name11" name="roleInput" value="ROLE_ADMIN"  >-->
                                                                    <!--                            <input required type="radio" class="form-control" id="pass-name22" name="roleInput" value="ROLE_USER" >-->

                                                                    <label for="role-name"  class="col-form-label" >Select roles</label>

                                                                    <select   name="roleInput" multiple id="role-name" required  >
                                                                        <option    value="ROLE_ADMIN"> ADMIN   </option>
                                                                        <option    value="ROLE_USER" > USER  </option>
                                                                    </select>
                                                                </div>
                                                                <p>  <input type="submit" class="btn btn-primary btn-xs" value="GO"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                        </div>
                                   </div>
            </div>



<!--        Второй экран-->
<!--        Содежимое второго эерана-->
            <div class="tab-pane" id="v-pills-profile" >
                <h4 > <b> USER PANEL</b></h4><br>
                <div>

<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>ffffff</td>-->
<!--                            <td>ffffff</td>-->
<!--                            <td>ffffff</td>-->
<!--                            <td>ffffff</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                    <table>-->
<!--                        <thead class="table-hover" >-->
<!--                        <tr>-->
<!--                            <th>id</th>-->
<!--                            <th>country</th>-->
<!--                            <th>city</th>-->
<!--                            <th>street</th>-->
<!--                            <th>username</th>-->
<!--                            <th hidden>password</th>-->
<!--                            &lt;!&ndash;        <th>edit/delete</th>&ndash;&gt;-->
<!--                            <th>edit</th>-->
<!--                            <th >delete</th>-->
<!--                            <th>role1</th>-->
<!--                            <th>role2</th>-->



<!--                        </tr>-->
<!--                        </thead>-->


<!--                        <tbody>-->
<!--                        <tr  >-->
<!--                            <td th:text="${us.id}"> </td>-->
<!--                            <td th:text="${us.country}"> </td>-->
<!--                            <td th:text="${us.city}"> </td>-->
<!--                            <td th:text="${us.street}"> </td>-->
<!--                            <td th:text="${us.username}"> </td>-->
<!--                            <td th:text="${us.password}" hidden>  </td>-->

<!--                            &lt;!&ndash;        data-target="#editModal"&ndash;&gt;-->
<!--                            <td><button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#editModal' + ${us.id}"  >Edit</button></td>-->
<!--                            <td><button type="button" class="btn btn-danger"  data-toggle="modal" th:attr="data-target='#deleteModal' + ${us.id}"  >Delete</button></td>-->

<!--                            <td-->
<!--                                    th:each="role : ${us.getRoles()}" th:text="${role.getRole()}" > Roles-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tbody>-->
<!--                    </table>-->
                </div>
            </div>
        </div>
  </div>
</div>









<!--MODAL-->
<!--//////////////////////EDIT///////////////////////////////////-->


<div th:each="user : ${allUsers}" class="modal fade" th:id="'editModal' + ${user.id}"  tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

    <form th:action="@{/admin/edit}" data-toggle="modal"  th:object="${user}"   th:method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">EDIT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body" >
                    <div class="form-group">
                        <label for="id-name" class="col-form-label">id:</label>
                        <input  type="hidden" class="form-control" id="id-name" name="id" th:value="${user.id}" disabled >
                    </div>


                    <div class="form-group">
                        <label for="country-name1" class="col-form-label">Country:</label>
                        <!--                        value="${__${user.country}__}"-->
                        <input type="text" class="form-control" id="country-name1" name="country" th:value="${user.country}">
                    </div>

                    <div class="form-group">
                        <label for="city-name1" class="col-form-label">City:</label>
                        <input type="text" class="form-control" id="city-name1" name="city" th:value="${user.city}">
                    </div>

                    <div class="form-group">
                        <label for="street-name1" class="col-form-label">Street:</label>
                        <input type="text" class="form-control" id="street-name1" name="street" th:value="${user.street}">
                    </div>


                    <div class="form-group">
                        <label for="user-name1" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="user-name1" name="username" th:value="${user.username}">
                    </div>


                    <div class="form-group">
                        <label for="pass-name1" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="pass-name1" name="password" th:value="${user.password}">
                    </div>

                    <!--                    <div class="form-group"  th:each="role : ${user.getRoles()}" >Role-->
                    <div class="form-group"  >Role

                        <!--                        <label for="role-admin" class="col-form-label" >Role:</label>-->
                        <!--                        <input type="radio" class="form-control" name="roleInput" id="role-admin"  value="ROLE_ADMIN" th:checked="${roleAdmin}" >-->

                        <!--                        <label for="role-user" class="col-form-label" >Role:</label>-->
                        <!--                        <input type="radio" class="form-control" name="roleInput"  id="role-user"  value="ROLE_USER" th:checked="${roleUser}">-->

                        <!--                        <input required type="radio" class="form-control"   name="roleInput" value="ROLE_ADMIN">-->
                        <!--                        <input required type="radio" class="form-control"   name="roleInput" value="ROLE_USER">-->


                        <!--                        <div th:each="role : ${user.getRoles()}" >-->

                        <label  for="role-name2"  class="col-form-label" >Select roles</label>

                        <select  th:each="role : ${user.getRoles()}" name="roleInput" multiple id="role-name2" >

                            <option  value="ROLE_USER"     th:selected="${role.getRole()=='ROLE_USER'}"     > USER  </option>
                            <option  value="ROLE_ADMIN"    th:selected="${role.getRole()=='ROLE_ADMIN'}"    > ADMIN </option>

                            <!--                                -->
                            <!--                                <option-->
                            <!--                                        th:each="role : ${user.getRoles()}"-->
                            <!--                                        th:value="${role.getRole()}"-->
                            <!--                                        th:text="${role.getRole()}"-->
                            <!--                                        th:selected="${role.getRole()=='ROLE_ADMIN' or role.getRole()=='ROLE_USER'}" >-->

                            <!--                                </option>-->

                        </select>
                    </div>
                    <p>  <input type="submit" class="btn btn-primary btn-xs" value="GO"></p>
                </div>
            </div>
        </div>

    </form>
</div>



<!--////////////////  DELETE ///////////////////////////-->

<!--<div class="modal fade" th:each="user : ${allUsers}" th:id="'deleteModal' + ${user.id}"  tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="delModalLabel">Удаление пользователя</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->

<!--            <div class="modal-body">-->
<!--                <div class="form-group">-->
<!--                    <label for="id-name" class="col-form-label">id:</label>-->
<!--&lt;!&ndash;                    type="hidden"&ndash;&gt;-->
<!--                    <input type="hidden" class="form-control" id="id-name3" name="id" th:value="${user.id}" disabled>-->
<!--                </div>-->


<!--                <div class="form-group">-->
<!--                    <label for="country-name" class="col-form-label">Country:</label>-->
<!--                    &lt;!&ndash;                        value="${__${user.country}__}"&ndash;&gt;-->
<!--                    <input type="text" class="form-control" id="country-name3" name="country" th:value="${user.country}" disabled>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="city-name" class="col-form-label">City:</label>-->
<!--                    <input type="text" class="form-control" id="city-name3" name="city" th:value="${user.city}" disabled>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="street-name" class="col-form-label">Street:</label>-->
<!--                    <input type="text" class="form-control" id="street-name3" name="street" th:value="${user.street}" disabled>-->
<!--                </div>-->


<!--                <div class="form-group">-->
<!--                    <label for="user-name" class="col-form-label">Username:</label>-->
<!--                    <input type="text" class="form-control" id="user-name3" name="username" th:value="${user.username}" disabled>-->
<!--                </div>-->


<!--                <div class="form-group">-->
<!--                    <label for="pass-name" class="col-form-label">Password:</label>-->
<!--                    <input type="text" class="form-control" id="pass-name3" name="password" th:value="${user.password}" disabled>-->
<!--                </div>-->

<!--                &lt;!&ndash;                    <div class="form-group"  th:each="role : ${user.getRoles()}" >Role&ndash;&gt;-->
<!--                <div class="form-group"  >-->

<!--                    &lt;!&ndash;                        <label for="role-admin" class="col-form-label" >Role:</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <input type="radio" class="form-control" name="roleInput" id="role-admin"  value="ROLE_ADMIN" th:checked="${roleAdmin}" >&ndash;&gt;-->

<!--                    &lt;!&ndash;                        <label for="role-user" class="col-form-label" >Role:</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <input type="radio" class="form-control" name="roleInput"  id="role-user"  value="ROLE_USER" th:checked="${roleUser}">&ndash;&gt;-->

<!--                    &lt;!&ndash;                        <input required type="radio" class="form-control"   name="roleInput" value="ROLE_ADMIN">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <input required type="radio" class="form-control"   name="roleInput" value="ROLE_USER">&ndash;&gt;-->


<!--                    &lt;!&ndash;                        <div th:each="role : ${user.getRoles()}" >&ndash;&gt;-->

<!--                    <label  for="role-name2"  class="col-form-label" >Select roles</label>-->

<!--                    <select  th:each="role : ${user.getRoles()}" name="roleInput" multiple id="role-name3" disabled>-->

<!--                        <option  value=""     th:text="${role.getRole()}"     > USER  </option>-->
<!--                        &lt;!&ndash;                        <option  value="ROLE_ADMIN"    th:selected="${role.getRole()=='ROLE_ADMIN'}"    > ADMIN </option>&ndash;&gt;-->

<!--                        &lt;!&ndash;                                &ndash;&gt;-->
<!--                        &lt;!&ndash;                                <option&ndash;&gt;-->
<!--                        &lt;!&ndash;                                        th:each="role : ${user.getRoles()}"&ndash;&gt;-->
<!--                        &lt;!&ndash;                                        th:value="${role.getRole()}"&ndash;&gt;-->
<!--                        &lt;!&ndash;                                        th:text="${role.getRole()}"&ndash;&gt;-->
<!--                        &lt;!&ndash;                                        th:selected="${role.getRole()=='ROLE_ADMIN' or role.getRole()=='ROLE_USER'}" >&ndash;&gt;-->

<!--                        &lt;!&ndash;                                </option>&ndash;&gt;-->

<!--                    </select>-->
<!--                </div>-->


<!--                &lt;!&ndash;                .............................&ndash;&gt;-->
<!--                &lt;!&ndash;                <span th:text="${user.username}"> Удалить User:  </span>&ndash;&gt;-->
<!--                &lt;!&ndash;                <span th:text="${user.id}"> Удалить User:  </span>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <a th:href="@{'/admin/delete/' + ${user.id}}" th:method="get" type="button" class="btn btn-primary" >Delete</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->




</body>
</html>